<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context-3.2.xsd
     http://www.springframework.org/schema/mvc 
     http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<!-- 扫描控制器 -->
	<context:component-scan base-package="org.agtsys.controller"></context:component-scan>
	<!-- jsr 303 -->
	<bean id="validatemessage" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>classpath:CustomerValidateMessage</value>
			</list>
		</property>
		<property name="defaultEncoding" value="utf-8" ></property>
		<property name="cacheSeconds" value="300"></property>
	</bean>
	<bean id="validate" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"></property>
		<property name="validationMessageSource" ref="validatemessage"></property>
	</bean>
    <!-- 使用注解加载默认处理器映射器等 -->
	<mvc:annotation-driven validator="validate"></mvc:annotation-driven>
	
	<!-- 资源解析器 -->
	<bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 拦截器  -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="org.agtsys.intercepter.LoginIntercepter"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean class="org.agtsys.intercepter.PermissionInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>